{% extends 'admin/base.html.twig' %}

{% block title %}Directors{% endblock %}

{% block content %}
  <!-- Directors CRUD -->
  <div class="row mb-4">
    <div class="col-md-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <center>
            <h5 class="card-title">Manage Directors</h5>
          </center>
          <a href="{{ path('director_create') }}" class="btn btn-primary">Add New Director</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Director List -->
  <div class="card">
    <div class="card-body">
      <center>
        <h1 class="card-title">Director List</h1>
      </center>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Director Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for director in directors %}
            <tr>
              <td>{{ director.name }}</td>
              <td>
                <a href="{{ path('director_edit', { 'id': director.id }) }}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{{ path('director_delete', {'id': director.id}) }}" onclick="return confirm('Are you sure you want to delete this director?');">Delete</a>
              </td>
            </tr>
          {% else %}
            <tr>
              <td colspan="2" class="text-center">No directors available</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
