{% extends 'admin/base.html.twig' %}

{% block title %}Create Category{% endblock %}
{% block content %}

    <div class="card">
        <div class="card-body">
<center><h1>Create Category</h1></center>

<form method="POST">
    <label for="name">Category Name</label>
    <input type="text" id="name" name="name" required>

    <button type="submit">Create Category</button>
</form>

        </div>
    </div>
{% endblock %}